<div class='room-menu'>
<h1>Bloc Chat</h1>
<h2>Welcome, {{home.user}}!</h2>
<button ng-click='home.newRoom()'>Create Room</button>
<div class='rooms'>
  <h4 ng-repeat='room in home.rooms'><span ng-click="home.setRoom(room)">{{room.$value}}</span></h4>
</div>
</div>
<div class='chat-room'>
  <div class='room-title'>
  <h2 class='name'>{{home.currentRoom.$value}}</h2>
<div class='chat'>
  <div class = 'message' ng-repeat='message in home.currentMessages'>
    <div class='username'>{{message.username}}</div>
    <div class='sentat'>{{message.sentAt}}</div>
    <div class='content'>{{message.content}}</div>
  </div>
</div>
</div>
</div>
